.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Orbitron", sans-serif;
    font-size: 1.025rem;
    font-weight: 500;
}

.message-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
    overflow: auto;
    margin: 5.5rem 0;
}

.prompt-container {
    display: flex;
    justify-content: flex-end;
}

.response-container {
    display: flex;
    justify-content: flex-start;
}

.prompt,
.response {
    width: auto;
    max-width: 50%;
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    letter-spacing: 0.8px;
    line-height: 1.5rem;
}

.prompt {
    border: 1px solid rgb(197, 196, 196);
    color: rgb(200, 193, 193);
    background-color: transparent;
    border-top-left-radius: 8px;
}

.response {
    border: 1px solid rgb(69, 199, 203);
    color: rgb(10, 180, 183);
    background-color: transparent;
    border-top-right-radius: 8px;
}