.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #212121;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #424242;
    font-family: "Russo One", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.convo {
    margin-right: 5rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.convo input {
    height: 35px;
    border-radius: 6px;
    padding: 5px 15px;
    font-size: 1rem;
}

.convo span {
    font-size: 1.3rem;
}