.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(74, 74, 74);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.convo {
    margin-right: 5rem;
}